{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
	<thead>
	<tr>
		<th>Rank</th> 
		<th>Name</th>
		<th>Solved</th>
		<th>Time</th>
		{% for problem in problems %}
			<th>{{ problem.name }}</th>
		{% endfor %}
	</tr>
	</thead>
	<tbody>

	<!-- section about teams -->
	{% for team in teams %}
	<tr>
		<th>{{ loop.index }}</th>
		<th>{{ team.name }}</th>
		<th>{{ team.solved_count }}</th>
		<th>{{ team.time }}</th>
		{% for val in team.solved %}
			 {% if val == -1 %}
		 		<!-- Include button here! -->
		 		<th> Not solved. </th>
			 {% else %}
				 <th> {{ team.tries[loop.index0] }}/{{ team.solved[loop.index0] }} </th>
			 {% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}